:root {
  --font-size: 14;
  --font-size-hints: 12;
  --font-size-url: 12;

  --font-weight: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;

  --font: "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* Font used in the UI */

  --padding: 2px;
  --padding-vomnibar: 15px;
  --shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  --blur: 40px;

  /* -------- VOMNIBAR & HUD -------- */
  --fg: #ffffff;
  --fg-dark: #c9c9c9;
  --fg-url: #84bffa;
  --fg-match: #2165d9;

  --bg: rgba(30, 30, 30, 0.8);
  --bg-selected: rgba(150, 150, 150, 0.3);

  --border: #464646;

  /* -------- HINTS -------- */
  --fg-hints: #ffd752; /* Text color of link hints, (don't forget to change `#vimium-hint-marker-container div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimium-hint-marker-container {
  div.internal-vimium-hint-marker,
  div.vimiumHintMarker {
    background: var(--bg);
    border: 1px solid var(--border);
    backdrop-filter: blur(10px);
    box-shadow: var(--shadow);
    padding: 3px 4px;
  }

  div span {
    color: var(--fg-hints);
    font-family: var(--font);
    font-size: var(--font-size-hints);
    font-weight: var(--font-weight-bold);
    text-shadow: none;
  }

  div > .matchingCharacter {
    opacity: 0.3;
  }

  div > .matchingCharacter ~ span {
    color: var(--fg-hints);
  }
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  background: var(--bg);
  backdrop-filter: blur(var(--blur));
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 15px;
  overflow: hidden;
  left: 50%;
  margin-left: -400px;
  max-width: 800px;

  input,
  #vomnibar-search-area {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--fg);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }

  #vomnibar-search-area {
    padding: 8px 15px;
    border-radius: 6px;
  }

  input {
    border: none;
    padding: var(--padding);
  }

  .no-insert-text {
    display: none;
  }

  ul {
    background: transparent;
    border-top: 1px solid var(--border);
    margin: 0;
    padding: var(--padding-vomnibar);
  }

  li {
    border-bottom: none;
    padding: 15px;
  }

  li .top-half {
    padding: var(--padding);
  }

  li .bottom-half {
    padding-top: 0px;
    padding-bottom: 1px;
  }

  li .source {
    color: var(--fg-dark);
    font-family: var(--font);
    font-size: 12;
    font-weight: var(--font-weight-bold);
    text-transform: uppercase; /* `.source` will be in all uppercase letters. Delete to revert to original */
  }

  li em,
  li .title {
    color: var(--fg);
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight-medium);
  }

  li .url {
    color: var(--fg-url);
    font-family: var(--font);
    font-size: var(--font-size-url);
    font-weight: var(--font-weight-medium);
  }

  li .match {
    color: var(--fg-match);
    font-weight: normal;
  }

  li .title .match {
    color: var(--fg);
    font-weight: bold;
  }

  li.selected {
    background: var(--bg-selected);
    backdrop-filter: blur(20px);
    border-radius: 8px;
  }

  li.selected .url {
    /* Changes '.vomnibarURL' to '--fg-match' when selected */
    color: var(--fg-url);
  }

  li.selected .match {
    /* Changes '.match' to '--fg' when selected */
    color: var(--fg);
  }
}

/* -------- HUD -------- */
#hud-container {
  background: var(--bg);
  backdrop-filter: blur(20px);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 6px;

  #hud,
  span#hud-find-input {
    color: var(--fg);
    font-family: var(--font);
    font-size: 13;
    font-weight: var(--font-weight-medium);
  }


  #hud-body,
  #hud.hud-find {
    background-color: transparent;
    border: none;
  }

  #hud-search-area {
    background-color: transparent;
    padding: 6px;
  }
}

/* -------- HELP DIALOG -------- */
#container {
  background-color: transparent !important;
  border: none !important;

  #dialog {
    background: var(--bg);
    backdrop-filter: blur(var(--blur));
    border: 1px solid var(--border);
    border-radius: 15px;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 15px 10px !important;

    h1 {
      color: var(--fg);
    }

    a:link,
    a:visited,
    a:hover,
    a:active,
    a {
      color: var(--fg-url);
      font-family: var(--font);
      font-size: var(--font-size);
    }

    span.key {
      background-color: var(--bg-hints);
      border: 1px solid var(--border-hints);
      box-shadow: var(--shadow);
      padding: 2px 3px;
      color: var(--fg-hints);
      font-family: var(--font);
      font-size: var(--font-size-hints);
      font-weight: var(--font-weight-bold);
      text-shadow: none;
    }

    h2,
    .help-description {
      color: var(--fg);
      font-family: var(--font);
    }

    .column {
      color: var(--fg);
      font-family: var(--font);
    }
  }
}
